body{
    background-color: #F7D1D1;
    color: #D66D6D;
    text-align: left; /*configuração global*/
}

.perfil {
    display: flex;
    align-items: center; 
    gap: 40px; 
    margin-left: 400px;
    margin-top: 50px;
  }
  
  .perfil div {
    display: block;  
  }
  
  .profile-img {
    width: 150px; 
    height: 150px;  
    border-radius: 20px;  
    object-fit: cover;  /* imagem não distorcida */
  }
  