/* Estilos para o header */
.rodape{
    background-color: #FBB8B8;  /* Cor de fundo do header */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

  }
  
  .rodape-content {
    display: flex;
    justify-content: space-between;
  }
  
  .logo-rodape h1 {
    color: #D66D6D;  /* Cor para o texto do logo */
    font-size: 1.5em;  /* Ajuste o tamanho da fonte */
    font-weight: bold;
    margin: 0;
    margin-right: 300px;
    margin-bottom: 10px;
  }
  
  .me-siga a {
    margin: 0 30px;  /* Adiciona um espaço maior entre os ícones */
    text-decoration: none; /* Remove o sublinhado */
  }
  
  .me-siga i {
    font-size: 30px; /* Aumenta o tamanho dos ícones */
    color: #D66D6D; /* Cor rosa */
    transition: all 0.3s ease; /* Efeito de transição suave */
  }
  
  .me-siga i:hover {
    color: #f7a1c3;  /* Muda para um tom mais claro de rosa ao passar o mouse */
    transform: scale(1.2);  /* Aumenta o ícone ao passar o mouse */
  }
  
  
  