/* Estilos para o header */
.rodape{
    background-color: #FBB8B8;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

  }
  
  .rodape-content {
    display: flex;
    justify-content: space-between;
  }
  
  .logo-rodape h1 {
    color: #D66D6D;  
    font-size: 1.5em;  
    font-weight: bold;
    margin: 0;
    margin-right: 300px;
    margin-bottom: 10px;
  }
  
  .me-siga a {
    margin: 0 30px;  
    text-decoration: none; 
  }
  
  .me-siga i {
    font-size: 30px; 
    color: #D66D6D; 
    transition: all 0.3s ease; 
  }
  
  .me-siga i:hover {
    color: #f7a1c3; 
    transform: scale(1.2);  
  }
  
  
  