
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
  }
  

.logo {
    background-color: #FBB8B8;
    color: #D66D6D;
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto; 
  }

  .logo:hover {
    color: white;
  }
  
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 20px; 
  }
  
  nav ul li a {
    text-decoration: none;
    color: #D66D6D;
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px 15px;
  }
  
  nav ul li a:hover {
    color: white;
  }
  