.habilidades {
  text-align: center;
  margin-top: 100px;
}

.nome-hab {
  background-color: #FBB8B8;
  color: #D66D6D;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 10px;
}

.nome-hab:hover{
  transform: scale(1.1); 
}


ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px; 
}


.linguagens {
  justify-content: center;
  display: flex;
  align-items: center; 
  gap: 20px; 
  margin-top: 20px;
}


.react, .git, .python, .figma {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease; 
}


.react:hover, .git:hover, .python:hover, .figma:hover {
  transform: scale(1.1); 
}

/* Responsividade*/
@media (max-width: 768px) {
  .habilidades {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }

  .nome-hab {
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 0.8em; 
  }

  .habilidades ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .habilidades li {
    margin: 10px;
  }

 
  .habilidades img {
    width: 40px;
    height: 40px;
  }

  .logo-hab {
    text-align: center;
    margin-bottom: 20px;
  }
}


