.projetos {
  text-align: center;
  margin-top: 100px;
}


ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center; 
  gap: 20px; 
}

.imagens ul li {
  display: inline-block;
  margin: 5px;
}


.imagens ul {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.churrascometro, .liftly {
  width: 350px;
  height: 300px;
  border-radius: 15px;
  border: 5px solid #FBB8B8;
  filter: grayscale(0.5) sepia(0.3); 
  object-fit: cover;
  position: relative; 
}


.churrascometro::after, .liftly::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 182, 193, 0.4); 
  border-radius: 15px;
}


.projeto p {
  margin-top: 10px;
  color: #D66D6D;
  font-weight: bold;
  font-size: 1.5rem;
}


.ver-mais {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #D66D6D;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 30px;
  transition: background-color 0.3s ease; 
}


.ver-mais:hover {
  background-color: #FBB8B8;
}

/* Responsividade */
@media (max-width: 768px) {
  .churrascometro, .liftly {
      width: 200px; 
      height: 200px; 
  }

  .ver-mais {
      font-size: 0.9em; 
      padding: 8px 15px; 
  }
}
